@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --black: #3c3f4b;
    --blue: #006ba6;
    --cyan: #d9e9f2;
}

* {
    font-family: "Nunito", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 0 7%;
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    min-height: 100hv;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 2.5rem;
    font-size: 2.3rem;
    color: var(--blue);
    border: .3rem solid var(--blue);
    border-radius: 15px;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--blue);
    color: #fff;
}

.heading {
    text-align: center;
    color: var(--black);
    padding: 1rem;
    text-transform: uppercase;
    font-size: 5rem;
}

/* ----------------------- NAVBAR -----------------------  */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 10px;
    background: #fff;
}

header .logo-img {
    width: 60px;
    display: flex;
    align-items: center;
}

header .logo {
    font-size: 2.7rem;
    color: var(--black);
    font-weight: bolder;
    margin-left: -600px;
    margin-top: -10px;
}

header .navbar a {
    font-size: 2.5rem;
    margin-left: 2.5rem;
    color: var(--black);
}

header .navbar a:hover {
    color: var(--blue);
}

#menu-bar {
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

/* ----------------------- HOME -----------------------  */

.home {
    display: flex;
    align-items: center;
    background: url(../images/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

.home .image {
    padding-top: 4rem;
    padding-left: 15rem;
    flex:  1 1 40rem;
}

.animated-logo {
    width: 200px; /* Ajusta según el tamaño necesario */
    height: auto;
    animation: spin 5s linear infinite;
    position: relative;
    z-index: 1;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.home .content {
    padding: 1rem;
    flex:  1 1 40rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 6rem;
    text-transform: uppercase;
}

.home .content p {
    color: var(--black);
    font-size: 4rem;
}

.home .image img {
    width: 100%;
}

.home .content .btn {
    color: var(--blue);
    background: #fff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 3rem;
}

.home .content .btn:hover {
    color: #fff;
    background: none;
    border-color: #fff;
}
/* ----------------------- CARACTERÍSTICAS -----------------------  */
.feature .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.feature .box-container .box {
    margin: 1rem;
    text-align: center;
    padding: 2rem 4rem;
    border: 1rem solid rgba(0,0,0,.2);
    border-radius: 10px;
    flex: 1 1 35rem;
    height: 65rem;
}

.feature .box-container  .box img {
    width: 50%;
    margin-top: 3rem;
}

.feature .box-container .box h3 {
    font-size: 3.7rem;
    color: var(--black);
    padding: 2rem 0;
    
}

.feature .box-container .box p {
    font-size: 2.5rem;
    color: #666;
    padding-bottom: 1rem;
}

/* ----------------------- SERVICIO -----------------------  */
.service {
    background: var(--blue);
}

.service .heading {
    color: #fff;
}

.service .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.service .box-container .box {
    padding: 4rem;
    margin: 1rem;
    flex:  1 1 50rem;
    border: 1rem solid #fff;
    border-radius: 10px;
    text-align: center;
    height: 52rem;
    height: 70rem;
}

.service .box-container .box img {
    width: 50%;
}

.service .box-container .box h3 {
    font-size: 4rem;
    color: #fff;
    padding: 1rem 0;
}

.service .box-container .box p {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem;
}

.service .box-container .box .btn {
    color: #fff;
    font-weight: bold;
    border: solid .2rem #fff;
}

.service .box-container .box:hover{
    background: #fff;
    border: 1rem thin var(--blue);

}

.service .box-container .box:hover h3{
    color: var(--black);
}

.service .box-container .box:hover p{
    color: #666;
}

.service .box-container .box:hover .btn {
    color: var(--blue);
    font-weight: bold;
    border: solid .2rem var(--blue);
}

/* ----------------------- PROYECTOS -----------------------  */

.project .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project .box-container .box {
    margin: 1rem;
    border: .1rem  solid rgba(0,0,0,.2);
    border-radius: 10px;
    overflow: hidden;
    height: 40rem;
    flex: 1 1 50rem;
    position: relative;
    cursor: pointer;
}

.project .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project .box-container .box .number {
    position: absolute;
    top: .2rem;
    right: 1.5rem;
    font-size: 5rem;
    color: rgba(0,0,0,.2);
    font-weight: bolder;
    z-index: 10;
}

.project .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    transition: .3s ease-out;
    clip-path: circle(30% at 95% 0);
}

.project .box-container .box:hover::before {
    clip-path: circle(100%);
}

.project .box-container .box .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    padding: 50px;
}

.project .box-container .box:hover .info {
    transition-delay: .2s;
    opacity: 1;
    top: 50%;
}

.project .box-container .box .info h3 {
    color: var(--black);
    font-size: 3.5rem;
}

.project .box-container .box .info p {
    color: #666;
    font-size: 2.7rem;
    padding-top: 1.3rem;
}

/* ----------------------- EQUIPO -----------------------  */

.team {
    background: var(--blue);
}

.team .heading {
    color: #fff;
}

.team .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .box-container .box {
    width: 60rem;
    height: 58rem;
    background: #fff;
    position: relative;
    margin: 1rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-radius: 15px;
}

.team .box-container .box img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.team .box-container .box h3 {
    font-size: 3rem;
    color: var(--black);
}

.team .box-container .box span {
    font-size: 1.7rem;
    color: var(--blue);
}

.team .box-container .box p {
    padding: 2.3rem 2.5rem;
    font-size: 1.7rem;
    color: #666;
}

.team .box-container .box .share {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
}

.team .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    color: #fff;
    font-size: 2.3rem;
}

.team .box-container .box .share a:hover {
    background: #fff;
    color: var(--blue);
}

/* ----------------------- PRECIOS -----------------------  */

.price {
    background: var(--cyan);
    height: 185rem;
}

.price .heading {
    color: var(--black);
}

.price .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.price .box-container .box {
    background-color: #fff;
    flex-direction: 1 1 35rem;
    margin: 2rem;
    text-align: center;
    padding: 4rem;
    border: .3rem solid var(--blue);
    border-radius: 10px;
    width: 60rem;
    height: 160rem;
}

.price .box-container .box img {
    width: 50%;
}

.price .box-container .box h3 {
    font-size: 3.5rem;
    color: var(--blue);
    padding: 3rem 5rem;
}

.price .box-container .box .amount {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    background-color: var(--blue);
    color: #fff;
    border-radius: 15px;
    padding: 2rem 0;
}

.price .box-container .box .amount span {
    font-size: 4.5rem;
    margin-right: 1rem;
}

.price .box-container .box p {
    color: var(--black);
    font-size: 2.3rem;
    padding: 3rem 1rem;
    font-weight: bolder;
}

.price .box-container .box ul {
    padding: 1rem 3rem;
    text-align: left;
    translate: 3rem 1rem;
}
.price .box-container .box ul li {
    font-size: 2.3rem;
    color: var(--blue);
    padding: 1rem 0;
}

.price .box-container .box .btn-1 {
    margin-top: 19.4rem;
}

.price .box-container .box .btn-2 {
    margin-top: 14.3rem;
}

.price .box-container .box .btn-3 {
    margin-top: 3rem;
}

/* ----------------------- CONTACTO -----------------------  */

.contact .row{
    display: flex;
    flex-wrap: wrap;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.contact .row form {
    flex: 1 1 40rem;
    padding: 2rem;
}

.contact .row .map {
    flex: 1 1 40rem;
    width: 80%;
    padding: 10px;
}

.contact .row form .inputBox {
    position: relative;
}

.contact .row form .inputBox input, .contact .row form .inputBox textarea {
    width: 100%;
    margin: 1.5rem 0;
    padding: .7rem 1rem;
    font-size: 1.7rem;
    color: #666;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: 10px;
    text-transform: none;
}

.contact .row form .inputBox textarea {
    height: 15rem;
    resize: none;
}

.contact .row form .inputBox label {
    font-size: 1.5rem;
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    color: #444;
}

.contact .row form .inputBox input:focus ~ label,
.contact .row form .inputBox textarea:focus ~ label,
.contact .row form .inputBox input:valid ~ label
.contact .row form .inputBox textarea:valid ~ label {
    top: -.7rem;
    left: 0;
    color: var(--blue);
}

/* ----------------------- FOOTER -----------------------  */

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    background: var(--blue);
}

.footer .box-container .box {
    margin: 2rem;
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 0;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .credit {
    font-size: 2rem;
    background: #fff;
    color: #444;
    text-align: center;
    padding: 2.5rem 1rem;
    letter-spacing: .1rem;
}

.footer .credit a {
    color: var(--blue);
}






/* media queries */
@media (max-width:1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width:991px){
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 3rem;
    }
}

@media (max-width:768px){
    #menu-bar{
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #eee;
        height: calc(100hv - 100%);
        border-top: .1rem solid rgba(0,0,0,.2);
        display: none;
    }

    header .navbar.nav-toggle {
        display: block;
    }

    header .navbar a {
        margin: 1rem;
        display: block;
        padding: 1.3rem 0;
        background: #fff;
        text-align: center;
        border: .1rem solid #444;
        animation: nav-links .5s linear backwards;
        animation-delay: calc(.2s * var(--i));
    }

    @keyframes nav-links {
        0%{
            transform: translateY(-50rem);
            opacity: 0;
        }
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .home .content {
        text-align: center;
    }

    .home .content h3 {
        font-size: 4rem;
    }
}

@media (max-width:450px){
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3.5rem;
    }

    .team .box-container .box {
        width: 100%;
    }
}